///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;
$code-bg:  #272727;

$masthead-color:         #ffffff;
$masthead-small-color:   #C0C0C0;

$post-title-color:       #ffffff;
$post-date-color:        #9a9a9a;


$body-color:            #ffffff;
$body-background-color: #0a253b;

$link-color:            #599fd9;

$headings-color:        #ffffff;    // h1,h2,h3,h4,h5,h6

$strong-color:          #303030;    // strong

// $pre-background-color:  #1b1d1e;    // pre
$pre-background-color:  #191f24;    // pre
// $pre-background-color:  #192026;    // pre
// $pre-background-color:  #182128;    // pre

$blockquote-color:        #7a7a7a;  // blockquote
$blockquote-border-color: #e5e5e5;

$table-border-color:         #e5e5e5;
$table-odd-background-color: #282828;


