<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>{{ page.title }} - {{ site.title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>

<div class="logo-container">
  <a href="{{ site.path }}/" class="logo">
    <img src="{{ site.path }}/logo.png" alt="Logo" class="site-logo">
    <span class="site-title">{{ site.title }}</span>
  </a>
</div>

<nav class="nav-links">
  <a href="{{ site.path }}/blog">Blog</a>
  <span class="separator"> | </span>
  <a href="{{ site.path }}/ctfs">CTFs</a>
  <span class="separator"> | </span>
  <a href="{{ site.path }}/">About</a>
</nav>


<div class="container">
<div class="divider"></div>
  <div id="content">
        {{ content }}
  </div>
</div><!-- .container -->

</body>
</html>
